$fontSizeIcon: 1.3rem;
$fontSizeItem: .8rem;
$transitionTimeDefault: .3s;
$transitionEffectDefault: ease-in-out;
$transitionDefault: $transitionEffectDefault $transitionTimeDefault;

#navbar-principal {
  width: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 1rem;
  color: var(--white-soft);
  background: linear-gradient(45deg, rgb(40 40 40 / 50%), rgb(24 24 24 / 85%));
  transition: $transitionDefault;

  .main,
  .footer {
    display: flex;
    flex-direction: column;
  }

  .main {
    flex: 1;
    justify-content: flex-start;

  }

  .footer {
    flex: 1;
    justify-content: flex-end;

    .item-nav-gestao-usuario {
      .conteudo-item-gestao-usuario {
        height: 0;
        display: flex;
        flex-direction: column;
        transition: $transitionDefault;
        overflow: hidden;
      }

      .container-avatar-usuario {
        .icone-item-nav-bar {
          .avatar-usuario {
            width: 2.8rem;
            height: 2.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--cor-tema);
            background-color: rgba(255, 255, 255, 0.8);
            border: 2px solid var(--cor-tema);
            box-sizing: border-box;
            border-radius: 5rem;
          }
        }
      }

      &.ativo {
        .conteudo-item-gestao-usuario {
          height: 6rem;
        }
      }
    }
  }

  .item-nav-bar {
    cursor: pointer;
    height: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 4rem auto;
    transition: $transitionDefault;

    .icone-item-nav-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $fontSizeIcon;
      color: var(--white-soft);
      transition: $transitionDefault;
    }

    .label-item-nav-bar {
      width: 0;
      padding-right: 1rem;
      font-size: $fontSizeItem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: var(--white-soft);
      transition: $transitionDefault;
    }

    &:hover {
      background-color: var(--cor-tema);
    }

    &.container-avatar-usuario {
      height: 3.5rem;
    }
  }

  &.ativo {
    width: 15rem;
    border-radius: 0 2rem 2rem 0;

    .label-item-nav-bar {
      width: 100%;
    }

    .log-out:hover {
      background-color: var(--red-600);
    }
  }
}