$fontSizeIcon: 1.3rem;
$fontSizeItem: .8rem;
$transitionTimeDefault: .1s;
$transitionEffectDefault: linear;
$transitionDefault: $transitionEffectDefault $transitionTimeDefault;

#navbar-principal {
  height: 100%;
  display: grid;
  background: linear-gradient(45deg, rgba(40, 40, 40, 0.5), rgba(24, 24, 24, 0.85));

  .menu {
    .item-menu {
      .texto-item-menu {
        transition: $transitionDefault;
        overflow: hidden;
        width: 0;

        p {
          display: none;
        }
      }
    }

    .item-menu.item-menu-logoff{
      border-top: 1px solid white;
    }
  }

  &:hover {
    .menu {
      .item-menu {
        .texto-item-menu {
          overflow: flex;
          width: 12rem !important;

          p {
            display: block;
          }
        }
      }
    }
  }
}