$font-color-placeholder: rgba($color: #fff, $alpha: .6);

#section-autenticacao {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .conteudo-autenticacao {
    width: 100%;
    max-width: 20rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 0 20px -5px var(--black-mute);
    background-color: rgba($color: #000000, $alpha: .40);

    .container-inicial {
      color: var(--white);

      .icone {
        font-size: 6rem;
      }
    }

    .mensagem {
      width: 100%;
      display: grid;
      grid-template-columns: 1rem auto;
      align-items: center;
      gap: 0.5rem;
      color: white;
      padding: 0.5rem;
      border-radius: 0.3rem;

      &.load {
        background-color: var(--blue-600);
      }

      &.success {
        background-color: var(--green-500);
      }

      &.error {
        background-color: var(--red-600);
      }

      &.warn {
        background-color: var(--orange-600);
      }

      .icone {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
      }
    }

    .container-formulario-login,
    .campos-formulario {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }

    .container-formulario-login {
      .campos-formulario {
        gap: .5rem;

        input {
          width: 100%;
          text-align: center;
          color: var(--white);
          background-color: rgba($color: #fff, $alpha: .05);

          &::placeholder {
            color: $font-color-placeholder;
          }
        }

        svg {
          color: $font-color-placeholder;
          cursor: pointer;
        }
      }

      .acao-formulario {
        display: flex;
        justify-content: flex-end;

        button {
          display: flex;
          gap: .5rem
        }
      }
    }
  }
}