main.view-main {
  background-color: #F2F2F7;
  background-image: url('/src/assets/images/bg/bg-image-2-2.svg') ;
  background-repeat: no-repeat ;
  background-size: cover ;
  padding: 2rem;
  flex: 1;
}