#app {
  height: 100%;
  display: flex;
  background-color: #F2F2F7;
  background-image: url('/src/assets/images/bg/bg-image-3-3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}